@import url(https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Shadows+Into+Light&family=Shadows+Into+Light+Two&display=swap);



body {
  background-color: black;
  margin: 0;
}

.logo {
  position: relative;
  left: 6%;
  color: red;font-size: 7em;font-family:'Bebas Neue';letter-spacing: .3rem;padding-left: .3em;padding-top: .3em;
  opacity: 70%;
}


.item {
  margin: 0;
  list-style: none;
  padding: 0;
  opacity: 85%;
}
.list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.itemContainer {
  margin: 3%;
  border: 5px solid #E50914;
  border-style: outset;
  height: 250px;
  width: 200px;
  overflow: hidden;
}
.item.image {
  height: 350px;
  width: 300px;
  object-fit: cover;
}

.text {
  position: relative;
  left: 18%;
  color: #E50914;
  bottom: 10%;
  opacity: 80%;
}