body {
  background-color: black;
  margin: 0;
}

.item {
  margin: 3%;
  list-style: none;
  padding: 1em;
  opacity: 80%;
  

}
.list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.itemContainer {
  margin: 3%;
  border: 5px solid #E50914;
  border-style: outset;
  height: 250px;
  width: 200px;
  overflow: hidden;
  
  
}
.item.image {

  height: 350px;
  width: 300px;
  object-fit: cover;
}